/* Font import(s) */

@import url('https://fonts.googleapis.com/css?family=PT+Sans');

/* Essentials for Hub */

* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 100%;
    max-width: 100%;
    background-color: #F9F9F9;
    font-family: 'Ubuntu', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

[ref="waypoint"] {
    width: 0;
    height: 0;
}

.hubWrapper {
  margin-left: 260px;
  position: relative;
  overflow: visible !important;
}

/* Hub Jumbo */

.hubJumbo {
    padding-top: 40px;
    background-color: #29B6F6 !important;
}

.hubJumboWrapper {
  padding: 0 40px;
}

.hubCreator {
  position: absolute;
  right: 40px;
  top: 40px;

}

.hubCreatorPicture {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-image: url('https://image.freepik.com/free-vector/triangle-bear-design_23-2147495368.jpg');
  background-size: cover;
  background-position: center;
  background-color: white;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.hubCreatorName {
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  line-height: 28px;
  color: #FFF;
  -webkit-font-smoothing: antialiased;
}

.hubJumbo > div {
    max-width: 1200px;
    margin: 0 auto;
}

.hubJumbo .hubTitle {
  font-family: 'PT Sans', sans-serif;
  font-size: 32px;
  color: #FFF;
  margin-bottom: 0;
  -webkit-font-smoothing: antialiased;
}

.hubJumbo .hubDescription {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
}

.hubJumbo .hubButtons {
  margin-top: 0;
}

.hubJumbo .hubButtons button {
  font-weight: 400 !important;
  font-family: 'PT Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
}

.hubJumbo .hubTabs {
    margin-top: 20px;
    font-family: 'PT Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
}

.hubJumbo .hubTabs button {
    width: auto !important;
    box-sizing: border-box !important;
    margin-right: 0 !important;
    border-radius: 5em !important;
    border-solid: 1px transparent solid !important;
}

.hubJumbo .hubTabs button div {
  padding: 0 10px;
}

/* Hub drops */

.hubDrops {
  margin-top: 40px;
  padding-right: 40px;
}

/* Clearfixing */

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}


/* start commented backslash hack \*/

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

/* Hub loading */

.loadingWrapper {
  margin-left: 260px;
  min-height: calc(100vh + 24px);
  padding-top: 60px;
}

.hubLoadingWrapper {
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
}

.hubLoading {

}

/* Scaling */

@media only screen and (max-width: 930px) {
  .hubWrapper {
    margin-left: 0 !important;
  }
}

@media only screen and (max-width: 720px) {
  .hubJumboWrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .hubDrops {
    margin-top: 20px;
    padding-right: 20px;
  }
  .col {
    padding-left: 20px;
    margin-bottom: 20px;
  }
}
