* {
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
}

body {
    font-family: monospace;
    padding: 0;
    margin: 0;
}

/* Right column */

.tile {
    width: calc(100% - 20px);
    margin-bottom: 20px;
    margin-left: 20px;
    display: inline-block;
    overflow: hidden;
    padding: 0;
    border-radius: 2px;
    background-color: #4FC3F7;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.tile-short {
    height: 210px;
}

.tile-tall {
    height: 290px;
}

.tile-very-tall {
    height: 340px;
}

.myhubs-grid {
    display: inline-block;
    margin-top: 20px;
}

.myhubs-grid .col {
    height: 230px;
}

.myhubs-grid .hub-card {
    width: 100%;
    height: 100%;
    background-color: #FFF;
}

.right-col {
    width: 210px;
    margin: 20px 0 0 0px;
    float: right;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.grid {
    width: 100%;
}
.grid:before,
.grid:after,
[class*='col-']{
    float: left;
    display: block;
    margin-bottom: 40px;
    line-height: 0;
}

/* Grid sizes */

.grid-full { min-width: 100%; }
.grid-1-2 { min-width: 50%; }
.grid-2-3 { min-width: 66.66667%; }
.grid-3-4 { min-width: 75%; }
.grid-4-5 { min-width: 80%; }
.grid-5-6 { min-width: 83.33333%; }
.grid-6-7 { min-width: 85.71429%; }
.grid-7-8 { min-width: 87.5%; }
.grid-8-9 { min-width: 88.88889%; }

/* Tile sizes */

.tile-full { width: 100%; }
.tile-1-2 { width: 50%; }
.tile-1-3 { width: 33.33333%; }
.tile-1-4 { width: 25%; }
.tile-1-5 { width: 20%; }
.tile-1-6 { width: 16.66667%; }
.tile-1-7 { width: 14.28571%; }
.tile-1-8 { width: 12.5%; }
.tile-1-9 { width: 11.11111%; }

.col {
    display: block;
    width: 100%;
    padding: 0 0px 0px 40px;
}

.col-third {width: 33.33333%;}
.col-fourth {width: 25%;}
.col-fifth {width: 20%;}
.col-sixth {width: 16.66667%;}
.col-seventh {width: 14.28571%;}
.col-1 {width: 6.25%;}
.col-2 {width: 12.5%;}
.col-3 {width: 18.5%;}
.col-4 {width: 25%;}
.col-5 {width: 31.25%;}
.col-6 {width: 37.5%;}
.col-7 {width: 43.75%;}
.col-8 {width: 50%;}
.col-9 {width: 56.25%;}
.col-10 {width: 62.5%;}
.col-11 {width: 68.75%;}
.col-12 {width: 75%;}
.col-13 {width: 81.25%;}
.col-14 {width: 87.5%;}
.col-15 {width: 93.75%;}
.col-16 {width: 100%;}
            
@media screen and (min-width:320px){
    .col-xsm-third {width: 33.33333%;}
    .col-xsm-fifth {width: 20%;}
    .col-xsm-sixth {width: 16.66667%;}
    .col-xsm-seventh {width: 14.28571%;}
    .col-xsm-1 {width: 6.25%;}
    .col-xsm-2 {width: 12.5%;}
    .col-xsm-3 {width: 18.5%;}
    .col-xsm-4 {width: 25%;}
    .col-xsm-5 {width: 31.25%;}
    .col-xsm-6 {width: 37.5%;}
    .col-xsm-7 {width: 43.75%;}
    .col-xsm-8 {width: 50%;}
    .col-xsm-9 {width: 56.25%;}
    .col-xsm-10 {width: 62.5%;}
    .col-xsm-11 {width: 68.75%;}
    .col-xsm-12 {width: 75%;}
    .col-xsm-13 {width: 81.25%;}
    .col-xsm-14 {width: 87.5%;}
    .col-xsm-15 {width: 93.75%;}
    .col-xsm-16 {width: 100%;}
}

@media screen and (min-width:480px){
    .col-sm-third {width: 33.33333%;}
    .col-sm-fifth {width: 20%;}
    .col-sm-sixth {width: 16.66667%;}
    .col-sm-seventh {width: 14.28571%;}
    .col-sm-1 {width: 6.25%;}
    .col-sm-2 {width: 12.5%;}
    .col-sm-3 {width: 18.5%;}
    .col-sm-4 {width: 25%;}
    .col-sm-5 {width: 31.25%;}
    .col-sm-6 {width: 37.5%;}
    .col-sm-7 {width: 43.75%;}
    .col-sm-8 {width: 50%;}
    .col-sm-9 {width: 56.25%;}
    .col-sm-10 {width: 62.5%;}
    .col-sm-11 {width: 68.75%;}
    .col-sm-12 {width: 75%;}
    .col-sm-13 {width: 81.25%;}
    .col-sm-14 {width: 87.5%;}
    .col-sm-15 {width: 93.75%;}
    .col-sm-16 {width: 100%;}
}

@media screen and (min-width:640px){
    .col-md-third {width: 33.33333%;}
    .col-md-fifth {width: 20%;}
    .col-md-sixth {width: 16.66667%;}
    .col-md-seventh {width: 14.28571%;}
    .col-md-1 {width: 6.25%;}
    .col-md-2 {width: 12.5%;}
    .col-md-3 {width: 18.5%;}
    .col-md-4 {width: 25%;}
    .col-md-5 {width: 31.25%;}
    .col-md-6 {width: 37.5%;}
    .col-md-7 {width: 43.75%;}
    .col-md-8 {width: 50%;}
    .col-md-9 {width: 56.25%;}
    .col-md-10 {width: 62.5%;}
    .col-md-11 {width: 68.75%;}
    .col-md-12 {width: 75%;}
    .col-md-13 {width: 81.25%;}
    .col-md-14 {width: 87.5%;}
    .col-md-15 {width: 93.75%;}
    .col-md-16 {width: 100%;}
}

@media screen and (min-width:800px){
    .col-lgmd-third {width: 33.33333%;}
    .col-lgmd-fifth {width: 20%;}
    .col-lgmd-sixth {width: 16.66667%;}
    .col-lgmd-seventh {width: 14.28571%;}
    .col-lgmd-1 {width: 6.25%;}
    .col-lgmd-2 {width: 12.5%;}
    .col-lgmd-3 {width: 18.5%;}
    .col-lgmd-4 {width: 25%;}
    .col-lgmd-5 {width: 31.25%;}
    .col-lgmd-6 {width: 37.5%;}
    .col-lgmd-7 {width: 43.75%;}
    .col-lgmd-8 {width: 50%;}
    .col-lgmd-9 {width: 56.25%;}
    .col-lgmd-10 {width: 62.5%;}
    .col-lgmd-11 {width: 68.75%;}
    .col-lgmd-12 {width: 75%;}
    .col-lgmd-13 {width: 81.25%;}
    .col-lgmd-14 {width: 87.5%;}
    .col-lgmd-15 {width: 93.75%;}
    .col-lgmd-16 {width: 100%;}
}

@media screen and (min-width:960px){
    .col-wd-third {width: 33.33333%;}
    .col-wd-fifth {width: 20%;}
    .col-wd-sixth {width: 16.66667%;}
    .col-wd-seventh {width: 14.28571%;}
    .col-wd-1 {width: 6.25%;}
    .col-wd-2 {width: 12.5%;}
    .col-wd-3 {width: 18.5%;}
    .col-wd-4 {width: 25%;}
    .col-wd-5 {width: 31.25%;}
    .col-wd-6 {width: 37.5%;}
    .col-wd-7 {width: 43.75%;}
    .col-wd-8 {width: 50%;}
    .col-wd-9 {width: 56.25%;}
    .col-wd-10 {width: 62.5%;}
    .col-wd-11 {width: 68.75%;}
    .col-wd-12 {width: 75%;}
    .col-wd-13 {width: 81.25%;}
    .col-wd-14 {width: 87.5%;}
    .col-wd-15 {width: 93.75%;}
    .col-wd-16 {width: 100%;}
}

@media screen and (min-width:1120px){
    .col-lg-third {width: 33.33333%;}
    .col-lg-fifth {width: 20%;}
    .col-lg-sixth {width: 16.66667%;}
    .col-lg-seventh {width: 14.28571%;}
    .col-lg-1 {width: 6.25%;}
    .col-lg-2 {width: 12.5%;}
    .col-lg-3 {width: 18.5%;}
    .col-lg-4 {width: 25%;}
    .col-lg-5 {width: 31.25%;}
    .col-lg-6 {width: 37.5%;}
    .col-lg-7 {width: 43.75%;}
    .col-lg-8 {width: 50%;}
    .col-lg-9 {width: 56.25%;}
    .col-lg-10 {width: 62.5%;}
    .col-lg-11 {width: 68.75%;}
    .col-lg-12 {width: 75%;}
    .col-lg-13 {width: 81.25%;}
    .col-lg-14 {width: 87.5%;}
    .col-lg-15 {width: 93.75%;}
    .col-lg-16 {width: 100%;}
}