.join {
    width: 400px;
    padding: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #FFF;
    border-radius: 2px;
}

.foyer-header {
    width: 100%;
    padding: 1% 0 12% 0;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('images/hub-2.jpg');
    background-size: cover;
    background-position: center;
}

.foyer-header .form-join {
    margin: 0 0 1% 1%;
    color: #FFF;
    display: block;
}

.foyer-header h4 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #FFF;
    -webkit-font-smoothing: antialiased;
    font-size: 2em;
    margin: 0;
    font-weight: 400;
}

.foyer-wrapper {
    width: 100%;
    margin-top: 20px;
}

.foyer-wrapper .mdl-textfield {
    width: 80%;
    margin-left: 10%;
}

.foyer-wrapper .mdl-checkbox {
    margin: 2% 0 0 10%;
    width: 200px;
}

.foyer-wrapper .form-login {
    float: right;
    margin: 0 10% 5% 0;
}