<nav class="nav-custom shadow-light">
    <div class="inner-nav">
    <ul class="upper-items smooth">
        <li class="label">NAVIGATE</li>
        <li class="link smooth"><a href="" class="mdl-js-ripple-effect mdl-js-button"><i class="material-icons">home</i> Dashboard<div class="ripple-container"></div></a></li>
        <li class="link smooth"><a href="" class="mdl-js-ripple-effect mdl-js-button"><i class="material-icons">fingerprint</i> Creations</a></li>
        <li class="link smooth"><a href="" class="mdl-js-ripple-effect mdl-js-button"><i class="material-icons">notifications</i> Notifications</a></li>
        <li class="link smooth"><a href="" class="mdl-js-ripple-effect mdl-js-button"><i class="material-icons">cloud</i> Synced Files</a></li>
        <li class="link smooth"><a href="" class="mdl-js-ripple-effect mdl-js-button"><i class="material-icons">create</i> Create Hub</a></li>
    </ul>
    <ul class="upper-items smooth">
        <li class="label">RECENT</li>
        <li class="link"><a href="" class="mdl-js-ripple-effect mdl-js-button"><i class="material-icons">folder</i> Jason's Vacation 2016</a></li>
        <li class="link"><a href="" class="mdl-js-ripple-effect mdl-js-button"><i class="material-icons">folder</i> San Haven Roadtrip</a></li>
        <li class="link selected"><a href="" class="mdl-js-ripple-effect mdl-js-button"><i class="material-icons">folder</i> Bismarck Roadtrip</a></li>
    </ul>
    <ul class="upper-items smooth">
        <li class="label">TRENDING</li>
        <li class="link"><a href="" class="mdl-js-ripple-effect mdl-js-button"><i class="material-icons">trending_up</i> Shocking HRC Leak</a></li>
        <li class="link"><a href="" class="mdl-js-ripple-effect mdl-js-button"><i class="material-icons">trending_up</i> WikiLeaks Drop 4</a></li>
        <li class="link selected"><a href="" class="mdl-js-ripple-effect mdl-js-button"><i class="material-icons">trending_up</i> Julian Assange Emails</a></li>
        <li class="link selected"><a href="" class="mdl-js-ripple-effect mdl-js-button"><i class="material-icons">trending_up</i> Hillary Clinton Emails</a></li>
        <li class="link selected"><a href="" class="mdl-js-ripple-effect mdl-js-button"><i class="material-icons">trending_up</i> Leonardo DiCaprio Pics</a></li>
    </ul>
    </div>
    <div class="nav-push-div"></div>
</nav>