body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-image: url("https://s14.postimg.org/9mwpcgolt/hub_bg.png");
    background-size: cover;
    background-position: center;
}

.right {
    overflow:hidden;
    background-color: none;
    height: 100%;
}

.left {
    float:left;
    width: 50%;
    height: 100%;
}

.leftcontentcontainer {
    width: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.rightcontentcontainer {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
}

.signup {
    text-align: center;
    color: #fff;
    margin-bottom: 0px;
}

.signupform {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.signupform .input-group {
    width: 100%;
    margin-bottom: 10px;
}



.introduction {
    text-align: center;
    color: #fff;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 0;
    margin-bottom: 1%;
}

.signupformwrapper {
    display: block;
    margin: 0 auto;
    width: 100%;
    border: 0;
}

.signupform {
    box-shadow: none;
    background: transparent;
    border: 0;
}

.signupformheader {
    color: #fff;
}

.inputwrapper {
    background: transparent;
    box-shadow: none;
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}