<!-- Header scripts and CSS-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script type="text/javascript" src="../js/fade.js"></script>
<!-- Latest compiled and minified CSS -->
<link href="https://fonts.googleapis.com/css?family=Roboto:500,700" rel="stylesheet">
<!-- <link rel="stylesheet" type="text/css" href="custom_inputs.css"> -->
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
<link rel="stylesheet" href="../components.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="create_hub.css">
<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
