<nav class="nav-custom">
    <div class="upper-nav">
        <a class="nav-profile no-decoration" href="#"><i class="flaticon-user-3"></i></a>
        <a class="venos-logo" href="hubs.html"><img src="http://s13.postimg.org/jpy33hcfr/venos_logo_1.png"></a>
        <a class="nav-search no-decoration" href="#"><i class="flaticon-search"></i></a>
    </div>
    <div class="inner-nav">
    <ul class="upper-items smooth">
        <li class="label">NAVIGATE</li>
        <li class="link"><a href=""><i class="flaticon-home"></i> Dashboard</a></li>
        <li class="link"><a href=""><i class="flaticon-cloud"></i> Creations</a></li>
        <li class="link"><a href=""><i class="flaticon-alarm"></i> Notifications</a></li>
        <li class="link"><a href=""><i class="flaticon-cloud"></i> Synced Files</a></li>
        <li class="link"><a href=""><i class="flaticon-edit"></i> Create Hub</a></li>
    </ul>
    <ul class="upper-items smooth">
        <li class="label">RECENT</li>
        <li class="link"><a href=""><i class="flaticon-folder-2"></i> Jason's Vacation 2016</a></li>
        <li class="link"><a href=""><i class="flaticon-folder-2"></i> San Haven Roadtrip</a></li>
        <li class="link selected"><a href=""><i class="flaticon-folder-2"></i> Bismarck Roadtrip</a></li>
    </ul>
    <!-- <a class="show-hubs smooth btn btn-lg txt-center txt-white bg-blue no-border display-block" href="" role="button">Show More</a>
    -->
    <ul class="upper-items smooth">
        <li class="label">ACCOUNT</li>
        <li class="link"><a href=""><i class="flaticon-user-3"></i> Profile</a></li>
        <li class="link"><a href=""><i class="flaticon-settings"></i> Settings</a></li>
        <li class="link selected"><a href=""><i class="flaticon-plus"></i> Upgrade</a></li>
    </ul>
    </div>
    <div class="nav-push-div"></div>
    <!--
    <div class="more-menu">
        <ul>
            <li><a class="more-menu-link nonactive txt-blue" href="settings.html">Settings</a></li>
            <li><a class="more-menu-link nonactive txt-blue" href="signout.html">Signout</a></li>
        </ul>
    </div>
    <div class="nav-user">
        <div class="user-image"></div>
        <span class="user-name">Jason Procka</span>
        <button type="button" class="more-dropup">
        <i class="flaticon-more"></i>
        </button>
    </div>
    -->
</nav>