#app {
  margin-top: -24px !important;
}

.loginWrapper {
  margin-left: 260px;
  height: 100vh;
  background-color: #29B6F6;
}

.loginContent {
  padding: 0 14%;
  position: relative;
  top: calc(50% + 56px);
  transform: translateY(-50%);
}

.loginHeader {
  font-family: 'PT Sans', sans-serif;
  color: #FFF;
  margin-bottom: 20px;
}

.loginEmail, .loginPassword {

}

.loginEmail {
  width: 100% !important;
  margin-bottom: 0 !important;
}

.loginEmail label {
  display: none !important;
}

.loginEmail input {
  height: 32px !important;
  color: #FFF !important;
  font-size: 28px !important;
  border: 0 !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-font-smoothing: antialiased;
}

.loginEmail input:focus {
  box-shadow: none !important;
}

.loginEmail input[value] {
  color: #FFF !important;
}

.loginEmail input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #FFF;
}

.loginEmail input::-webkit-input-placeholder {
   color: #FFF;
}

.loginEmail input:-moz-placeholder { /* Firefox 18- */
   color: #FFF;
}

.loginEmail input::-moz-placeholder {  /* Firefox 19+ */
   color: #FFF;
}

.loginEmail input:-ms-input-placeholder {
   color: #FFF;
}

.loginEmail input:focus {
  outline: 0 !important;
}

.loginEmail div {
  display: none !important;
}

.loginPassword {
  width: 100% !important;
  margin-bottom: 20px;
}

.loginPassword input {
  color: #FFF !important;
  height: 22px !important;
  font-size: 18px !important;
  border: 0 !important;
  margin-bottom: 0 !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-font-smoothing: antialiased;
}

.loginPassword input:focus {
  box-shadow: none !important;
}

.loginPassword input[value] {
  color: #FFF !important;
}

.loginPassword input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #FFF;
}

.loginPassword input::-webkit-input-placeholder {
   color: #FFF;
}

.loginPassword input:-moz-placeholder { /* Firefox 18- */
   color: #FFF;
}

.loginPassword input::-moz-placeholder {  /* Firefox 19+ */
   color: #FFF;
}

.loginPassword input:-ms-input-placeholder {
   color: #FFF;
}

.loginPassword input:focus {
  outline: 0 !important;
}

.loginPassword div {
  display: none;
}

.loginSubmit {

}

.loginRemember {
  width: auto !important;
  display: inline-block !important;
  vertical-align: middle;
  margin-left: 10px;
}

.loginRemember label {
  width: auto !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
  font-size: 16px;
  color: #FFF;
}

/* Errors */

.help-block {
  position: absolute;
}

@media only screen and (max-width: 930px) {
    .loginWrapper {
        min-width: 100%;
        margin-left: 0;
    }
}
