html {
    color: #000;
}

body {
    min-width: 100%;
    max-width: 100%;
    font-family: 'PT Sans', sans-serif;
    position: relative;
    z-index: 1001;
    background-color: #F2F2F2;
}

.max-width {
    max-width: 960px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.content {
    min-width: 100%;
    z-index: 1001;
}

.lower-content {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 960px;
}

.sub-content {
    margin-right: 20px;
}

.hub-jumbo {
    width: 100%;
    padding: 40px 0 40px 0;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('../images/hub-2.jpg');
    background-size: cover;
    background-position: center;
    -webkit-font-smoothing: antialiased;
}

.jumbo-content {
    padding: 0 20px 0 20px;
}

.carbon-container {
    
}

.jumbo-info {
    
}

.jumbo-title {
    font-size: 34px;
    margin: 0;
    text-align: left;
    font-family: 'PT Sans', sans-serif;
    color: #FFF;
}

.hub-jumbo .jumbo-description {
    font-size: 16px;
    margin: 0 0 20px 0;
    text-align: left;
    font-family: 'PT Sans', sans-serif;
    color: #FFF;
}

.hub-jumbo .jumbo-buttons {
    text-align: left;
    display: inline-block;
}

.admin-grid {
    display: inline-block;
    margin-top: 20px;
}

.admin .col {
    height: 230px;
}

.admin-grid .admin-option {
    background-color: #FFF;
    border-radius: 2px;
    padding: 20px;
}

.admin-grid .admin-option h4, .admin-grid .admin-option p {
    font-family: 'PT Sans', sans-serif;
}

.admin-grid .admin-option h4 {
    margin: 0;
    color: #424242;
    -webkit-font-smoothing: antialiased;
}

.admin-grid .admin-option p {
    margin: 0 0 10px 0;
    color: #9E9E9E;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

.right-col {
    width: 210px;
    margin: 20px 0 0 0px;
    float: right;
    padding: 0;
    display: inline-block;
}

/* 

.hub-jumbo .hub-buttons {
    text-align: center;
}

.hub-jumbo .hub-buttons .copy-link {
    margin-right: 10px;
    width: 160px;
    font-weight: 400;
    background-color: rgba(198, 0, 66, 1);
}

.hub-jumbo .hub-buttons .create-drop {
    margin-left: 10px;
    width: 160px;
    font-weight: 400;
    background-color: rgba(198, 0, 66, 1);
}

*/

/*

.myhubs-grid {
    display: inline-block;
    margin-top: 20px;
}

.myhubs-grid .col {
    
}

.myhubs-grid .col .admin-option {
    width: 100%;
    height: 210px;
    background-color: #FFF;
}

.right-col {
    width: 210px;
    margin: 20px 0 0 0px;
    float: right;
    padding: 0;
}

.tile {
    width: calc(100% - 20px);
    height: 210px;
    margin-bottom: 20px;
    margin-left: 20px;
    display: inline-block;
    overflow: hidden;
    padding: 0;
    border-radius: 2px;
    background-color: #4FC3F7;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.filler-card {
    width: 100%;
    height: 210px;
    background-color: rgb(115, 115, 115);;
    border-radius: 2px;
}

*/