html {
    color: #000;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow: hidden;
    height: 100%;
}

body {
    min-width: 100%;
    max-width: 100%;
    font-family: 'Ubuntu', sans-serif;
    z-index: 1001;
    background-color: #F2F2F2;
    height: 100%;
    overflow: auto;
}

.max-width {
    max-width: 1280px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.content {
    width: calc(100% - 260px);
    margin-left: 260px;
    float: right;
    overflow: hidden;
}

.drop-theater {
    position: absolute;
    z-index: 10005;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 260px;
    overflow-y: scroll;
}

.drop-theater .theater-header {
    left: 260px;
    right: 0;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: 'PT Sans', sans-serif;
    z-index: 10010;
    position: fixed;
}

.drop-theater .drop-name {
    color: #FFF;
    vertical-align: middle;
    line-height: 60px;
    margin-left: 20px;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
}

.drop-theater .theater-close {
    color: #FFF;
    float: right;
    margin-top: 12px;
    margin-right: 12px;
}

.drop-theater .drop-favorite {
    color: #FFF;
    float: right;
    margin-top: 14px;
    margin-right: 14px;
}

.zoom-in, .zoom-out {
    color: #FFF;
    float: right;
    margin-top: 14px;
    margin-right: 14px;    
}

.drop-theater .drop-favorite i {
    font-size: 20px;
}

.drop-theater .drop-discuss {
    color: #FFF;
    float: right;
    margin-top: 14px;
    margin-right: 14px;
}

.drop-theater .drop-discuss i {
    font-size: 20px;
}

.drop-theater .viewer {
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 10007;
    height: 100%;
    overflow: auto;
}

.drop-theater .scaled {
    min-width: 100%;
    min-height: 100%;
}

.drop-theater .scaled-image {
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    cursor: -webkit-zoom-in;
    margin: auto;
}

.drop-theater .actual-pixel {
    visibility: hidden;
    display: none; /* table */
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    text-align: center;
    cursor: zoom-out;
    overflow: auto;
}

.drop-theater .actual_pixel .actual_pixel_center {
    display: table-cell;
    min-width: 100%;
    min-height: 100%;
    vertical-align: middle;
}

.drop-theater .actual_pixel .actual_pixel_image {
    max-width: none;
    display: none; /* inline-block */
}

.drop-theater .drop-download {
    right: 0;
    bottom: 0;
    position: fixed;
    margin: 0 20px 20px 0;
    z-index: 10008;
}

.drop-theater-overlay {
    display: none;
    position:fixed;
    z-index: 10001;
    top:0; 
    left:260px;
    bottom:0; 
    right:0;
    background-color:rgba(0,0,0,0.6);   
}

.lower-content {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1280px;
}

.sub-content {
    margin-right: 40px;
    height: 100%;
    position: relative;
}

.hub-jumbo {
    width: 100%;
    padding: 40px 0 0 0;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('../images/desert-night.png');
    background-size: cover;
    background-position: center;
    -webkit-font-smoothing: antialiased;
}

.jumbo-content {
    margin-bottom: 20px;
    padding: 0 40px 0 40px;
}

.jumbo-info {
    
}

.carbon-container {
    
}

.hub-jumbo .jumbo-title {
    font-size: 34px;
    margin: 0;
    text-align: left;
    font-family: 'PT Sans', sans-serif;
    color: #FFF;
}

.hub-jumbo .jumbo-description {
    font-size: 16px;
    margin: 0 0 20px 0;
    text-align: left;
    font-family: 'PT Sans', sans-serif;
    color: #FFF;
}

.hub-jumbo .jumbo-buttons {
    text-align: left;
}

/* Copy link snackbar */

.link-copied {
    font-family: 'PT Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    min-width: 0;
}

.link-copied .mdl-snackbar__text {
    padding-right: 24px;
}

.link-copied .mdl-snackbar__action {
    display: none;
}

.hub-jumbo .mdl-layout__container {
    position: relative;
    overflow: hidden;
}

.hub-jumbo .mdl-layout__header {
    background-color: rgba(0, 0, 0, 0);
    min-height: 48px;
}

.hub-jumbo .mdl-layout__tab-bar{
    padding: 0 40px 0 40px;
    width: 100%;
    height: 48px;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'PT Sans', sans-serif;
}

.hub-jumbo .mdl-layout--fixed-header {
    height: 48px;
}

.hub-jumbo .mdl-layout__tab-bar-button {
    display: none;
}

.hub-jumbo {
    
}

.hub-grid {
    display: inline-block;
    margin-top: 40px;
}

.hub-grid .col {
    width: 100%;
}

.hub-card:hover {
    cursor: pointer;
}

.hub-grid .demo-card-image.mdl-card {
    width: 100%;
    background: url('../images/hub.png') center / cover;
    margin: 0;
    padding: 0;
}
.hub-grid .demo-card-image > .mdl-card__actions {
    height: 52px;
    width: 100%;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
}
.hub-grid .demo-card-image__filename {
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    display: block;
}

.right-col {
    width: 210px;
    margin: 20px 0 0 0px;
    float: right;
    padding: 0;
    display: inline-block;
}

.tile {
    width: calc(100% - 20px);
    margin-bottom: 20px;
    display: inline-block;
    overflow: hidden;
    line-height: 0;
    padding: 0;
    border-radius: 2px;
    background-color: #4FC3F7;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.overlay {
    display: none;
    position: fixed;
    z-index: 10001;
    top: 0; 
    left: 0;
    bottom: 0; 
    right: 0;
    background-color: rgba(0,0,0,0.6);   
}

@media only screen and (max-width: 930px) {
    .content {
        min-width: 100%;
        margin-left: 0;
    }
    
    .drop-theater {
        left: 0;
    }
    
    .drop-theater-overlay {
        left: 0;
    }
    
    .drop-theater .theater-header {
        left: 0;
    }
}

@media only screen and (max-width: 500px) {
    .mdl-mini-footer ul li {
        font-size: 12px;
    }
}

@media only screen and (min-width: 480px) {
    .link-copied {
        margin-bottom: 20px;
        font-size: 14px;
    }
}

/* 

.hub-jumbo .hub-buttons {
    text-align: center;
}

.hub-jumbo .hub-buttons .copy-link {
    margin-right: 10px;
    width: 160px;
    font-weight: 400;
    background-color: rgba(198, 0, 66, 1);
}

.hub-jumbo .hub-buttons .create-drop {
    margin-left: 10px;
    width: 160px;
    font-weight: 400;
    background-color: rgba(198, 0, 66, 1);
}

*/

/*

.myhubs-grid {
    display: inline-block;
    margin-top: 20px;
}

.myhubs-grid .col {
    
}

.myhubs-grid .col .admin-option {
    width: 100%;
    height: 210px;
    background-color: #FFF;
}

.right-col {
    width: 210px;
    margin: 20px 0 0 0px;
    float: right;
    padding: 0;
}

.tile {
    width: calc(100% - 20px);
    height: 210px;
    margin-bottom: 20px;
    margin-left: 20px;
    display: inline-block;
    overflow: hidden;
    padding: 0;
    border-radius: 2px;
    background-color: #4FC3F7;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.filler-card {
    width: 100%;
    height: 210px;
    background-color: rgb(115, 115, 115);;
    border-radius: 2px;
}

*/