.createHubWrapper {
    margin-left: 260px;
}

.foyer-wrapper {
    margin-top: 0em !important;
    padding: 0 40px 40px;
    background: #29B6F6 !important;
}


/* Hub fields */

.hubNamer {
    margin-top: 60px;
    margin-bottom: 4px;
    height: 32px !important;
}

.hubNamer input {
    max-height: 32px !important;
    font-size: 32px !important;
    margin-bottom: 0 !important;
    color: rgb(255, 255, 255) !important;
}

.hubDescriptor {
    height: 16px !important;
    margin-top: 0;
    margin-bottom: 40px !important;
}

.hubDescriptor input {
    height: 16px !important;
    font-size: 16px !important;
    color: rgb(255, 255, 255) !important;
}

.hubFields {
    width: 100% !important;
}

.hubFields input {
    font-weight: 400;
    font-family: 'PT Sans', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    outline: 0 !important;
    border: 0 !important;
    box-shadow: none !important;
}

.hubFields input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.hubFields input[value] {
    color: #FFF;
}

.hubFields input::-webkit-input-placeholder {
    color: #FFF;
}

.hubFields input:-moz-placeholder {
    /* Firefox 18- */
    color: #FFF;
}

.hubFields input::-moz-placeholder {
    /* Firefox 19+ */
    color: #FFF;
}

.hubFields input:-ms-input-placeholder {
    color: #FFF;
}

.hubFields div {
    display: none !important;
}


/* Custom URL */

.showCustomUrl {
    font-family: 'PT Sans', sans-serif !important;
    color: #FFF !important;
    -webkit-font-smoothing: antialiased;
}

#urlOptional {
    display: inline-block;
    font-family: 'PT Sans', sans-serif;
}

.urlToggle {
    width: auto !important;
    display: none !important;
    /* inline-block */
    margin-right: 20px;
}

.urlLabel {
    display: none;
    /* inline-block */
    margin-bottom: 5px;
    margin-right: 5px;
    font-size: 16px;
    color: #FFF;
    -webkit-font-smoothing: antialiased;
    vertical-align: middle;
}

.urlInput {
    display: none !important;
    font-size: 16px;
}

.createHub {
    margin-right: 10px;
    font-family: 'PT Sans', sans-serif !important;
    -webkit-font-smoothing: antialiased;
}

#optional>* {
    float: left;
    height: 3em !important;
    font-size: 16px;
    line-height: 3;
}

form>div:nth-child(2) {
    margin-bottom: 1em;
}

#optional>div:first-of-type {
    margin-top: 0.85em;
    position: relative;
    left: -8px;
}

#create-wrapper>span {
    display: block;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}


/* start commented backslash hack \*/

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}


/* close commented backslash hack */

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.dialog-appear {
    opacity: 0.01;
}

.dialog-special {
    position: relative;
    background-color: #FFF;
    z-index: 500000;
    box-shadow: 0px 1px 7px 0px rgba(66, 66, 66, 0.3), 0px 1px 7px 0px rgba(11, 11, 11, 0.3);
    width: 100%;
}

.dialog-appear.dialog-appear-active {
    opacity: 1;
    transition: opacity 1s ease-in;
}

.dialog-enter {
    opacity: 0.01;
}

.dialog-enter.dialog-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.dialog-leave {
    opacity: 1;
}

.dialog-leave.dialog-leave-active {
    opacity: 0.01;
    transition: opacity 500ms ease-in;
}


/* Demo drops */

.demoDrops {
    width: 100%;
    height: 1000px;
}

.dropGrid {
    margin-top: 40px;
    padding-right: 40px;
}

.demoDrop {
    height: 200px;
    background-color: #E0E0E0;
    border-radius: 3px;
}

@media only screen and (max-width: 930px) {
    .createHubWrapper {
        min-width: 100%;
        margin-left: 0;
    }
}

@media only screen and (max-width: 500px) {
    .mdl-mini-footer ul li {
        font-size: 12px;
    }
}
