* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow: visible;
}

*::-webkit-scrollbar {
    display: none;
}


/* Continued */

.navCustom {
    display: block;
    width: 260px;
    padding-top: 2em;
    background-color: #FFF;
    /* #2c3136 */
    top: 0;
    bottom: 0;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    float: left;
    z-index: 10000;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.innerNav {
    width: 100%;
}

.navPushDiv {
    display: none;
}

.navCustom .navItems {
    width: 100%;
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 15px;
    list-style: none;
}

.navItems .navLabel {
    color: #BDBDBD;
    text-decoration: none;
    padding: 0px;
    margin-bottom: 0px;
    margin-left: 35px;
    letter-spacing: 0.5px;
    font-family: 'PT Sans', sans-serif;
    font-size: 0.8em;
    padding-bottom: 7px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

.navItems .navLink .navLinkButton {
  width: 100% !important;
  height: auto !important;
  color: #BDBDBD !important;
  text-decoration: none !important;
  text-align: left !important;
  padding: 6px 16px !important;
  display: block !important;
  vertical-align: middle !important;
  -o-transition: .3s !important;
  -ms-transition: .3s !important;
  -moz-transition: .3s !important;
  -webkit-transition: .3s !important;
  transition: .3s !important;
  position: relative !important;
  font-family: 'PT Sans', sans-serif !important;
  font-size: 13px;
  letter-spacing: .5px;
}

.navItems .navLink .navLinkButton span {
  color: #BDBDBD;
  letter-spacing: .5px;
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  font-weight: 400 !important;
  text-transform: none !important;
  -webkit-font-smoothing: antialiased;
}

.navItems .navLink svg {
    vertical-align: middle;
    margin: 10px 24px 10px 16px !important;
    font-size: 0.6em;
    display: inline-block;
    color: #9E9E9E !important;
    fill: #9E9E9E !important;
    height: 2.5em !important;
    width: 2.5em !important;
}

.navItems .navLink .navLinkButton:hover {
  background-color: #E0E0E0 !important;
  /*border-left: solid 2px rgba(3, 169, 244, 1) !important;*/
}

.navItems .navLink .selected > .navLinkButton {
  color: #03A9F4 !important;
  background-color: #EEEEEE !important;
  border-radius: 0 !important;
  -webkit-box-shadow: inset 2px 0px 0px 0px rgba(41, 182, 246, 1);
  -moz-box-shadow: inset 2px 0px 0px 0px rgba(41, 182, 246, 1);
  box-shadow: inset 2px 0px 0px 0px rgba(41, 182, 246, 1);
}

.navItems .navLink .selected > .navLinkButton svg {
  fill: #03A9F4 !important;
}

.navItems .navLink .selected > .navLinkButton span {
  color: #03A9F4 !important;
}

/* Badges */

.navLink button span span {
  top: calc(50% - 12px) !important;
  right: -50px !important;
  background-color: #FF4081 !important;
}

@media only screen and (max-width: 930px) {
    .navCustom {
        display: none;
    }
}
