/* Modified Bootstrap components */

input:focus,
select:focus,
textarea:focus,
button:focus {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-appearance: none;
    box-shadow: none;
    outline: 0;
    outline: none;
}

.btn {
    border: 0;
    border-bottom: 3px solid;
    border-radius: 4px;
    font-size: 15px;
}

.btn:active, .btn:hover, .btn:focus {
    outline: 0;
    box-shadow: none;
}

.btn-wide {
    max-width: 300px;
    min-width: 200px;
}

.input-group {
    border-radius: 5px;
}

.form-control {
    border: 1px solid #FFF;
    border-radius: 5px;
    height: 40px;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    -webkit-appearance: none;
}

.form-control:active {
    border: 1px solid #03A9F4;
    border-radius: 5px;
    height: 40px;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
}

.form-control:focus {
    outline: none;
}

/* Background styling */

.bg-white {
    background-color: #FFF;
}

.bg-white:hover {
    background-color: #FFF;
}

.bg-pink {
    background-color: rgb(249,127,105);
}

.bg-pink:hover {
    background-color: rgb(249,127,105);
}

.bg-blue {
    background-color: #03A9F4;
}

.bg-blue:hover {
    background-color: #03A9F4;
}

.bg-light-blue {
    background-color: #81D4FA;
}

.bg-light-blue:hover {
    background-color: #81D4FA;
}

.bg-dark-blue {
    background-color: #1976D2;
}

.bg-dark-blue:hover {
    background-color: #1976D2;
}

/* Border styling */

.no-border {
    border: 0;
}

.border-gray {
    border-bottom-color: #BDBDBD;
}

.border-gray:hover {
    border-bottom-color: #BDBDBD;
}

.border-blue {
    border-color: #0398db;
}

.border-blue:hover {
    border-color: #0398db;
}

.border-blue:hover {
    border-color: #0398db;
}

.border-dark-blue {
    border-color: #1976D2;
}

.border-dark-blue:hover {
    border-color: #1976D2;
}

.border-pink {
    border-color: #e5735e;
}

.border-pink:hover {
    border-color: #e5735e;
}

/* Text styling */

.txt-white {
    color: #FFF;
}

.txt-white:hover {
    color: #FFF;
}

.txt-gray {
    color: #9E9E9E;
}

.txt-gray:hover {
    color: #9E9E9E;
}

.txt-blue {
    color: #03A9F4;
}

.txt-blue:hover {
    color: #03A9F4;
}

.txt-center {
    text-align: center;
}

.link {
    text-decoration: none;
}

.link:hover {
    text-decoration: none;
}

.smooth {
    -webkit-font-smoothing: antialiased;
}

.no-decoration {
    text-decoration: none;
}

.no-decoration:hover {
    text-decoration: none;
}

/* Font Weights */

.light {
    font-weight: 400;
}

.very-light {
    font-weight: 300;
}

/* Margin and padding styling */

.margin-auto {
    margin: auto;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

/* Display styling */

.display-block {
    display: block;
}

.display-inline-block {
    display: inline-block;
}