* {
    overflow: hidden;
}
html {
    height: 100%;
    margin: 0;
    max-width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F9F9F9;
    margin: 0;
    height: 100%;
    max-width: 100%;
    -webkit-font-smoothing: antialiased;
    position: fixed;
}

/* Page Components */

.content {
    min-width: 100%;
    float: right;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    margin-left: 250px;
    -webkit-overflow-scrolling: touch;
}

.content::-webkit-scrollbar { 
    display: none; 
}

.page-content {
    min-width: calc(100% - 250px);
    min-height: 100%;
    margin: 0;
    margin-left: 500px;
    overflow-y: scroll;
    float: right;
    overflow-x: hidden;
}

.drop-details {
    height: calc(100% - 400px);
    width: calc(100% -400px)
    z-index: 1000;
    color: #FFF;
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
    background-color: #FFF;
}

.drop-details .close-details {
    border: 0;
    background: 0;
    position: absolute;
}

/* Hub Top */

.hub-jumbo {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../images/hub-bg.png');
    background-size: cover;
    background-position: center;
    padding-top: 36px;
    padding-bottom: 36px;
    margin-bottom: 15px;
    border-radius: 0;
}

.hub-header {
    text-align: center;
}

.hub-header h2 {
    margin-bottom: 0;
}

.hub-btns {
    display: block;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
}

.hub-btns .copy-link {
    border-bottom-color: #EBEBEB;
}

.hub-btns .create-drop:hover {
    background-color: #03a9f4;
}

.hub-btns .create-drop:focus {
    background-color: #03a9f4;
    border-bottom-color: #0398db;
}

.hub-btns a {
    margin: 0 10px;
}

/* End of top */

.container-fluid {
    padding: 0;
    margin: 0;
    height: 10%;
    min-width: 100%;
    max-width: 100%;
    margin-left: 10px;
    overflow-y: auto;
    margin-right: 0;
}

.ad-box {
    width: 20%;
    height: 250px;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    margin-right: -14px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #000000;
    vertical-align: middle;
}

.ad-text {
    text-align: center;
    color: #FFFFFF;
}

.push-div {
    height: 50px;
}

.five-column {
    min-width: calc(20% - 60px);
    padding: 0;
    max-height: 194px;
    display: inline-block;
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.row {
    display: inline-block;
    min-width: calc(80% - 14px);
    margin: 0;
    margin-left: 0;
}

/* Drop Styles */

.drop {
    width: 200px;
    height: 180px;
    display: block;
    margin: 0 auto;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.drop:hover {
    cursor: pointer;
    background-color: #FFF;
    border-radius: 5px;
}

.drop-image {
    background-image: url('http://www.all-famous-quotes.com/images/uploads/Family_sm.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 140px;
    margin: auto;
    border-radius: 5px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.drop-image:hover {
    border-radius: 0;
}

.drop .name {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 0.7em;
}

.drop .icon {
    height: 80px;
    vertical-align: middle;
    display: table-cell;
    margin: 0 auto;
    margin-top: 18px;
}

/* SCALING */

@media only screen and (max-width: 1400px) {
    .five-column {
        min-width: calc(25% - 20px);
    }
    .drop .name {
        font-size: 1.10em;
    }
}
@media only screen and (max-width: 1200px) {
    .ad-box {
        display: none;
    }
    .row {
        max-width: calc(100% - 14px);
    }
    .five-column {
        min-width: calc(33% - 20px);
    }
    .drop .name {
        font-size: 1.20em;
    }
}
@media only screen and (max-width: 1000px) {
    .five-column {
        min-width: calc(50% - 20px);
    }
    .drop .name {
        font-size: 1.30em;
    }
    .user-name {
        left: 7%;
    }
    .more-dropup {
        left: 5%;
    }
    .user-image {
        left: 2%;
    }
    .drop .icon {
        height: 100px;
        margin: 0 auto;
        margin-top: calc(10% + 36px);
        display: block;
    }
}