* {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
html {
    height: 100%;
    margin: 0;
    max-width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
   /* background-color: #F9F9F9;*/
    background-color: #FFF;
    margin: 0;
    height: 100%;
    max-width: 100%;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    opacity: 0;
}

.loaded {
    opacity: 1;
    transition: 0.75s;
}

.small-nav {
    width: 100%;
    height: 50px;
    background-color: #FFF;
    position: fixed;
    display: none;
}

/* Page Components */
.outside-content{
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25); 
}
.content {

    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    -webkit-overflow-scrolling: touch;
}
.main-content{
    float: left;
    width: 800px;
    
    
}

/*.content::-webkit-scrollbar { 
    display: none; 
}*/

.page-content {
    min-width: calc(100% - 250px);
    min-height: 100%;
    margin: 0;
    margin-left: 500px;
    overflow-y: auto;
    float: right;
    overflow-x: hidden;
}

.drop-details {
    height: calc(100% - 200px);
    width: calc(100% - 400px);
    z-index: 1000;
    color: #FFF;
    position: absolute;
    top: 50%;
    left: calc(50% + 125px);
    transform: translateX(-50%) translateY(-50%);
    background-color: #FFF;
}

.drop-details .close-details {
    border: 0;
    background: 0;
    position: absolute;
}

/* Hub Top */

.hub-jumbo {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../images/hub-bg.png');
    background-size: cover;
    background-position: center;
    padding-top: 36px;
    padding-bottom: 36px;
    margin-bottom: 0;
    border-radius: 0;
    width: 100%;
}

.hub-header {
    text-align: center;
}

.hub-header h2 {
    margin-bottom: 0;
}

.hub-btns {
    display: block;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.hub-btns .copy-link {
    border-bottom-color: #EBEBEB;
    position: relative;
    overflow: hidden;
    width: 150px;
}

.hub-btns .create-drop {
    position: relative;
    overflow: hidden;
    width: 150px;
}

.hub-btns .create-drop:hover {
    background-color: #03a9f4;
}

.hub-btns .create-drop:focus {
    background-color: #03a9f4;
    border-bottom-color: #0398db;
}

.hub-btns a {
    margin: 0 10px;
}

/* Hub options panel */

.hub-options {
    width: 100%;
    margin-right: 0;
    height: 40px;
    padding: 0 20px 0 20px;
    margin-bottom: 10px;
}

.hub-options .sort-label {
    display: inline;
    font-size: 0.8em;
    line-height: 51px;
    margin-right: 3px;
    text-transform: uppercase;
    float: left;
}

.hub-options .sort-button {
    display: inline;
    margin-top: 10px;
    font-size: 0.8em;
    line-height: 32px;
    text-transform: uppercase;
    border-radius: 2px;
    vertical-align: top;
    float: left;
}

.hub-options .admin-button {
    display: inline;
    float: right;
    margin-top: 10px;
    font-size: 0.8em;
    line-height: 32px;
    text-transform: uppercase;
    border-radius: 2px;
    vertical-align: top;
}

/* End of top */

.container-fluid {
    padding: 0;
    margin: 0;
    height: 100%;
    min-width: 100%;
    max-width: 100%;
    overflow-y: auto;
}

.tile {
    width: 220px;
    display: inline-block;
    top: 0;
    margin: 0px 20px 20px 10px;
    overflow: hidden;
    padding: 0;
    border-radius: 2px;
    background-color: #4FC3F7;
    float: right;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.tile-text {
    font-weight: 400;
    margin: 20px;
}

.tile-image {
    width: calc(100% - 100px);
    display: block;
    margin: auto;
    border-radius: 2px;
}

.tile-button {
    width: calc(100% - 40px);
    position: relative;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}

.ad-button:hover {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}

.push-div {
    height: 50px;
}

.five-column {
    box-sizing: border-box;
    width: 150px;
    padding: 5px;
    max-height: 194px;
    display: inline-block;
    margin: 0 10px 10px 10px;
    overflow-x: hidden;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition: .3s;
}

.five-column:hover {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.row {
    display: inline-block;
    min-width: calc(100% - 270px);
    max-width: calc(100% - 270px);
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    overflow-x: hidden;
    padding: 0;
}

/* Drop Styles */

.drop {
    min-width: 100%;
    display: block;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition: .3s;
    padding: 0;
    margin: 0;
    border-top-right-radius: 2px;
    color: #BDBDBD;
    position: relative;
}

.drop:hover {
    cursor: pointer;
    background-color: #FFF;
    border-radius: 2px;
}

.drop:active {
    background-color: #B3E5FC;
    color: #29B6F6;
}

.drop .drop-name {
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.drop .icon {
    height: calc(100% - 36px);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    border-radius: 2px;
    border-bottom-right-radius: 2px;
    text-align: center;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition: .3s;
}

.drop .icon:hover {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.drop .drop-download {
    width: 30px;
    height: 30px;
    border: 0;
    background-color: #FFF;
    border-radius: 5px;
}

.drop .dwnld-btn {
    display: block;
    visibility: hidden;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    z-index: 10000;
    position: absolute;
    top: calc(50% - 36px);
    left: calc(50% - 20px);
    padding: 0;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}

.drop .dwnld-btn i:before {
    margin-left: 0;
    font-size: 1.3em;
    padding: 0;
    width: 40px;
    text-align: center;
    color: #BDBDBD;
}

.drop:hover > .dwnld-btn {
    visibility: visible;
}

.ink {
	display: block; position: absolute;
	background: hsl(180, 40%, 80%);
	border-radius: 100%;
	transform: scale(0);
}
/*animation effect*/
.ink.animate {animation: ripple 0.65s linear;}
@keyframes ripple {
	/*scale the element to 250% to safely cover the entire link and fade it out*/
	100% {opacity: 0; transform: scale(2.5);}
}

/* SCALING */

@media only screen and (min-width: 1400px) {
    .five-column {
        min-width: calc(16.6666667% - 20px);
        max-width: calc(16.6666667% - 20px);
    }
    .drop .name {
        font-size: 1.20em;
    }
}

@media only screen and (min-width: 1151px) {
    .five-column {
        min-width: calc(20% - 20px);
        max-width: calc(20% - 20px);
    }
    .drop .name {
        font-size: 1.20em;
    }
}

@media only screen and (max-width: 1150px) {
    .five-column {
        min-width: calc(25% - 20px);
        max-width: calc(25% - 20px);
    }
    .drop .name {
        font-size: 1.10em;
    }
    .row {
        min-width: calc(100% - 20px);
    }
    .ad-box {
        display: none;
    }
}

@media only screen and (max-width: 850px) {
    .nav-custom {
        display: none;
    }
    .five-column {
        min-width: calc(20% - 20px);
        max-width: calc(20% - 20px);
    }
    .drop .name {
        font-size: 1.20em;
    }
    .page-content {
        margin-left: 0;
        width: 100%;
    }
    .row {
        margin: 0;
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
    }
    .small-nav {
        display: block;
    }
    .content {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 740px) {
    .five-column {
        min-width: calc(25% - 20px);
        max-width: calc(25% - 20px);
    }
}

@media only screen and (max-width: 699px) {
    .five-column {
        min-width: calc(33.33% - 20px);
        max-width: calc(33.33% - 20px);
    }
}

@media only screen and (max-width: 500px) {
    .five-column {
        min-width: calc(50% - 20px);
    }
    .drop .name {
        font-size: 1.30em;
    }
    .user-name {
        left: 7%;
    }
    .more-dropup {
        left: 5%;
    }
    .user-image {
        left: 2%;
    }
    .row {
        margin: auto;
        margin-left: 10px;
    }
    .tile {
        width: calc(100% - 40px);
    }
}