html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-image: url("http://s15.postimg.org/wcengqvfv/Desert_Evening_Desktop_Wallpaper.png");
    background-size: cover;
    background-position: center;
    min-height: 100%;
    max-height: 100%;
}

.venos_logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    width: 60px;
}

.login_tile {
    overflow: hidden;
    display: block;
    margin: auto;
    position: absolute;
    max-width: 360px;
}

.login_tile h2 {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    color: #FFFFFF;
}

.signupform {
    width: 100%;
    display: block;
    margin-right: 10px;
    margin-left: 10px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

.signupform .form-control {
    margin-bottom: 10px;
}

.signupformwrapper {
    display: block;
    margin: 0 auto;
    width: 100%;
    border: 0;
}

.signupform {
    box-shadow: none;
    background: transparent;
    border: 0;
}

.signupformheader {
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
}

.inputwrapper {
    background: transparent;
    box-shadow: none;
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}

.submit-btn {
    height: 40px;
    width: 50%;
    float: right;
}

.join-btn {
    height: 40px;
    width: 50%;
    float: left;
    display: inline-block;
}

.submit-btn, .join-btn {
    margin-top: 0px;
}

@media screen and (max-width: 434px){
    .signupform .input-group {
        margin-bottom: 10px;
    }
    
    .submit-btn, .join-btn {
        display: block;
        width: 100%;
    }
    
    .join-btn {
        margin-top: 5px;
        min-width: 100%;
    }
    
    .submit-btn {
        margin-top: 0px;
    }
}